@use '../../styles/palette' as colors;

.navItem {
  position: relative;
  cursor: pointer;

  a {
    display: flex;
    align-items: center;
    gap: 1.875em;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    height: 1.875em;
    width: 4px;
    background-color: var(--accent);
    left: 0;
    top: 50%;
    translate: 0 -50%;
  }

  &__name {
    color: var(--text);
    font-size: 0.875rem;
  }

  &:hover {
    background-color: var(--text);
  }

  &:hover &__name {
    color: var(--background);
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover svg {
    fill: var(--background);
  }

  &:has(.navItem_active) {
    background-color: var(--text);

    p {
      color: var(--background);
    }

    &::before {
      opacity: 1;
    }

    svg {
      fill: var(--background);
    }
  }
}