@use '../../styles/palette' as colors;

.navItem {
  position: relative;
  cursor: pointer;
  transition: .2s ease-in-out;

  a {
    display: flex;
    align-items: center;
    gap: 1.875em;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    height: 1.875em;
    width: 4px;
    background-color: colors.$accent;
    transition: .2s ease-in-out;
    left: 0;
    top: 50%;
    translate: 0 -50%;
  }

  &__name {
    color: colors.$text;
    transition: .2s ease-in-out;
    font-size: 0.875rem;
  }

  & svg {
    transition: .2s ease-in-out;
  }

  &:hover {
    background-color: colors.$text;
  }

  &:hover &__name {
    color: colors.$background;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover svg {
    fill: colors.$background;
  }

  &:has(.navItem_active) {
    background-color: colors.$text;
    color: colors.$background;

    &::before {
      opacity: 1;
    }

    svg {
      fill: colors.$background;
    }
  }
}