@use '../../styles/palette' as colors;

.burgerButton {
  border: none;
  background-color: colors.$background;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  cursor: pointer;

  &:hover &__line {
    background-color: colors.$secondary;
  }

  &__line {
    height: 0.25em;
    border-radius: 5px;
    width: 2rem;
    background-color: colors.$text;
    display: block;
    cursor: pointer;
    transition: .3s ease-in-out;
  }
}