.recommendationCard {
  position: relative;
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.recommendationCard:hover .recommendationCard__trackInfoWrapper {
  translate: 0 0;
}
.recommendationCard:hover .recommendationCard__playButton {
  opacity: 1;
}
.recommendationCard__inner {
  width: 100%;
  height: 100%;
  background-color: #565656;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  background-size: cover;
  border-radius: 0.625em;
}
.recommendationCard__playButton {
  width: 3.5em;
  height: 3.5em;
  background-color: #0FA750;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.recommendationCard__trackInfoWrapper {
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em;
  background-color: rgba(0, 0, 0, 0.7);
  translate: 0 100%;
  transition: translate 0.3s ease-in-out;
}
.recommendationCard__trackInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.recommendationCard__trackInfo > p {
  color: #E5E5E5;
}
.recommendationCard__trackName {
  font-size: 1em;
  line-height: 112.5%;
}
.recommendationCard__artist {
  font-size: 0.875em;
  opacity: 0.8;
  line-height: 114.2857142857%;
}
.recommendationCard__addButton {
  background: none;
  border: none;
  color: #E5E5E5;
  font-size: 1.75em;
}