@use './palette' as colors;

._pageTitle {
  font-weight: bold;
  font-size: 2em;
}

._sectionTitle {
  font-weight: 600;
  font-size: 1.5em;
  line-height: (39 / 32) * 100%;
}

._text {
  font-weight: 400;
  font-size: 1em;
  line-height: (29 / 24) * 100%;
}

._controlsSongTitle {
  font-weight: 700;
  font-size: 30px;
  line-height: (37px / 30px) * 100%;
}

._controlsBandTitle {
  font-weight: 500;
  font-size: 30px;
  line-height: (37px / 35px) * 100% ;
}