body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-color: var(--background);
  scrollbar-gutter: stable;
}

h1, h2, h3, h4, h5, h6, p, ul, li, figure {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../assets/fonts/Montserrat/static/Montserrat-Medium.ttf");
}

._scroll-lock {
  overflow-y: hidden;
  padding-right: 17px;
}

._container {
  width: 100%;
  padding-inline: 1.5em;
}

._grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2em;
}

._playButton {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  border: none;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: .1s ease-in-out;
}

._page {
  flex-grow: 1;
  margin-bottom: 150px;

  h2 {
    color: var(--text)
  }
}