$background: #201f1f;
$accent: #0FA750;
$text: #E5E5E5;
$white: #FFFFFF;
$secondary: #565656;
$background-transparent: rgba(0, 0, 0, .7);
$empty-message-icon-background: #292929;
$modal-background: #2C2C2C;