@use '../../../../styles/palette' as colors;

.addToPlaylistPopup {
  &__playlists {
    list-style: none;
  }

  &__divider {
    height: 1px;
    background-color: colors.$text;
    border: none;
    outline-color: transparent;
  }
}