.contextMenuWrapper {
  position: absolute;
  display: block;

  & li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  & li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &_top {
    top: 0;
  }

  &_right {
    right: 0;
  }

  &_topEnd {
    top: -50px;
    right: 180px;
  }
}