.track {
  width: 100%;
  cursor: pointer;
}
.track:hover {
  outline: 2px solid #0FA750;
}
.track:hover .track__playButton {
  opacity: 1;
}
.track__inner {
  width: 100%;
  padding: 0.75em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.track__trackInfoWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}
.track__coverWrapper {
  position: relative;
  height: 3.75em;
  width: 3.75em;
}
.track__playButton {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: none;
  background-color: #0FA750;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: 0.1s ease-in-out;
}
.track__cover {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.track__name {
  text-decoration: none;
  display: block;
  color: #E5E5E5;
  margin-bottom: 0.5em;
  font-weight: 800;
  font-size: 0.875em;
  transition: 0.2s ease-in-out;
}
.track__name:hover {
  color: #0FA750;
}
.track__band {
  color: #E5E5E5;
  font-size: 0.875em;
}
.track__controlsWrapper {
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.track__controlsWrapper button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
}
.track__controlsWrapper button:hover {
  opacity: 1;
}
.track__addToPlaylist {
  font-size: 2.2em;
  color: #E5E5E5;
}
.track__duration {
  color: #E5E5E5;
  font-size: 0.875em;
  opacity: 0.8;
}