@use '../../../../styles/palette' as colors;

.track {
  &:hover {
    outline: 2px solid colors.$accent;
  }

  &:hover &__playButton{
    opacity: 1;
  }

  &_active {
    outline: 2px solid colors.$accent;
  }

  &__playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &__inner {
    padding: 0.75em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__trackInfoWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__coverWrapper {
    position: relative;
    height: 3.75em;
    width: 3.75em;
  }

  &__cover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__name {
    text-decoration: none;
    display: block;
    color: colors.$text;
    margin-bottom: 0.5em;
    font-weight: 800;
    font-size: 0.875em;
    transition: .2s ease-in-out;

    &:hover {
      color: colors.$accent;
    }
  }

  &__band {
    color: colors.$text;
    font-size: 0.875em;
  }

  &__controlsWrapper {
    display: flex;
    align-items: center;
    gap: 1.25em;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.7;
      transition: .2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__addToPlaylist {
    font-size: 2.2em;
    color: colors.$text;
  }

  &__duration {
    color: colors.$text;
    font-size: 0.875em;
    opacity: 0.8;
  }
}