.controls {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgba(32, 31, 31, 0.95);
}
.controls button {
  background-color: transparent;
  border: none;
}
.controls__progressBar {
  width: 50%;
  position: absolute;
  top: -0.5em;
  height: 0.5em;
  background-color: #0FA750;
}
.controls__progressBar::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100vw;
  background-color: #E5E5E5;
  z-index: -1;
}
.controls__inner {
  padding-block: 0.75em;
  display: flex;
  justify-content: space-between;
}
.controls__mainControls {
  display: flex;
  align-items: center;
  gap: 1.25em;
}
.controls__trackInfo {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 0.75em;
}
.controls__trackCoverWrapper {
  height: 3.5em;
  flex-basis: 3.5em;
  flex-shrink: 0;
}
.controls__trackCoverWrapper img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.controls__trackDetails {
  text-align: left;
  color: #E5E5E5;
}
.controls__artist {
  font-size: 0.875em;
  opacity: 0.8;
}
.controls__trackTitle {
  font-family: MontserratMedium;
  font-size: 1em;
  margin-bottom: 0.25em;
}
.controls__secondaryControls {
  display: flex;
  align-items: center;
  gap: 1em;
}