.header {
  width: 100%;
  background-color: var(--background);
  margin-bottom: 0.75em;

  &__inner {
    padding-block: 1.125em;
    display: flex;
    align-items: center;
  }

  &__logoWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
  }

  &__pageTitle {
    font-family: MontserratBold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5em;
    line-height: calc(39 / 32 * 100%);
    color: var(--text);
  }
}