.playlists {
  list-style-type: none;
}
.playlists__createPlaylist {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #565656;
  border-radius: 0.875em;
}
.playlists__createPlaylist:hover button {
  opacity: 1;
}
.playlists__createPlaylistButton {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #E5E5E5;
  font-size: 4em;
  opacity: 0.8;
  cursor: pointer;
}