@use '../../../../styles/palette' as colors;

.playlists {
  list-style-type: none;
  margin-bottom: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 1.5em;

  &__createPlaylist {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$grey;
    border-radius: 0.875em;

    &:hover button {
      opacity: 1;
    }
  }

  &__createPlaylistButton {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: colors.$light-grey;
    font-size: 4em;
    opacity: 0.8;
    cursor: pointer;
  }
}