@use '../../styles/palette' as colors;

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  max-height: fit-content;
  height: 100%;
  width: 100%;
  border-right: 2px solid var(--text);

  &__title {
    font-family: MontserratBold, Arial, Helvetica, sans-serif;
    padding-left: 1.5rem;
    color: var(--text);
    margin-bottom: 0.5em;
  }
}