.emptyMessage {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 5rem;
  }

  &__dataWrapper {
    text-align: center;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--empty-message-icon-background);
    border-radius: 50%;
    margin-bottom: 0.75rem;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
  }
}